@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700;800;900&family=Inter:wght@300;400;500;600;700&family=Manrope:wght@500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&display=swap');

@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

﻿:root {
  --surface-container-low: #f8fafc;
  --tertiary-dim: #be185d;
  --on-primary-container: #3b0764;
  --error-container: #fee2e2;
  --primary-fixed: #3d007b;
  --on-surface: #0f172a;
  --secondary-container: #e0f2fe;
  --surface-tint: #350067;
  --primary-container: #f3e8ff;
  --outline: #94a3b8;
  --inverse-on-surface: #959bb0;
  --on-error: #ffffff;
  --on-secondary: #ffffff;
  --surface-dim: #e0e6f8;
  --on-primary-fixed: #f9f9f9;
  --secondary-fixed: #009bb7;
  --surface-container-high: #e2e8f0;
  --secondary-fixed-dim: #0dbbd6;
  --secondary: #0ea5e9;
  --on-background: #0f172a;
  --surface-container-lowest: #ffffff;
  --surface-container: #f1f5f9;
  --tertiary-container: #fce7f3;
  --on-primary: #ffffff;
  --error: #ef4444;
  --surface-variant: #f1f5f9;
  --tertiary-fixed-dim: #85000c;
  --on-primary-fixed-variant: #cc88ff;
  --error-dim: #dc2626;
  --surface-container-highest: #cbd5e1;
  --primary-dim: #6b21a8;
  --on-error-container: #991b1b;
  --on-tertiary-fixed-variant: #ff86a7;
  --on-tertiary-fixed: #ffc5d0;
  --on-secondary-fixed: #bcf6ff;
  --inverse-primary: #832cd3;
  --tertiary: #db2777;
  --on-tertiary-container: #831843;
  --inverse-surface: #070019;
  --on-secondary-fixed-variant: #99f1ff;
  --secondary-dim: #0284c7;
  --tertiary-fixed: #6f0008;
  --background: #f8fafc;
  --on-secondary-container: #075985;
  --surface: #ffffff;
  --on-surface-variant: #475569;
  --on-tertiary: #ffffff;
  --surface-bright: #b8c1dd;
  --primary-fixed-dim: #48008e;
  --primary: #7e22ce;
  --outline-variant: #cbd5e1;
}

.dark {
  --surface-container-low: #0c1326;
  --tertiary-dim: #ff6f7e;
  --on-primary-container: #360061;
  --error-container: #9f0519;
  --primary-fixed: #c284ff;
  --on-surface: #dfe4fe;
  --secondary-container: #006877;
  --surface-tint: #cc97ff;
  --primary-container: #c284ff;
  --outline: #6f758b;
  --inverse-on-surface: #4f5469;
  --on-error: #490006;
  --on-secondary: #004b56;
  --surface-dim: #070d1f;
  --on-primary-fixed: #000000;
  --secondary-fixed: #48e4ff;
  --surface-container-high: #171f36;
  --secondary-fixed-dim: #29d6f1;
  --secondary: #3adffa;
  --on-background: #dfe4fe;
  --surface-container-lowest: #000000;
  --surface-container: #11192e;
  --tertiary-container: #fc4563;
  --on-primary: #47007c;
  --error: #ff716c;
  --surface-variant: #1c253e;
  --tertiary-fixed-dim: #ff7986;
  --on-primary-fixed-variant: #430076;
  --error-dim: #d7383b;
  --surface-container-highest: #1c253e;
  --primary-dim: #9c48ea;
  --on-error-container: #ffa8a3;
  --on-tertiary-fixed-variant: #780021;
  --on-tertiary-fixed: #39000b;
  --on-secondary-fixed: #003a43;
  --inverse-primary: #842cd3;
  --tertiary: #ff6f7e;
  --on-tertiary-container: #100001;
  --inverse-surface: #faf8ff;
  --on-secondary-fixed-variant: #005966;
  --secondary-dim: #1ad0eb;
  --tertiary-fixed: #ff9099;
  --background: #070d1f;
  --on-secondary-container: #eafbff;
  --surface: #070d1f;
  --on-surface-variant: #a5aac2;
  --on-tertiary: #490010;
  --surface-bright: #222b47;
  --primary-fixed-dim: #b971ff;
  --primary: #cc97ff;
  --outline-variant: #41475b;
}

@theme {
  --color-surface-container-low: var(--surface-container-low);
  --color-tertiary-dim: var(--tertiary-dim);
  --color-on-primary-container: var(--on-primary-container);
  --color-error-container: var(--error-container);
  --color-primary-fixed: var(--primary-fixed);
  --color-on-surface: var(--on-surface);
  --color-secondary-container: var(--secondary-container);
  --color-surface-tint: var(--surface-tint);
  --color-primary-container: var(--primary-container);
  --color-outline: var(--outline);
  --color-inverse-on-surface: var(--inverse-on-surface);
  --color-on-error: var(--on-error);
  --color-on-secondary: var(--on-secondary);
  --color-surface-dim: var(--surface-dim);
  --color-on-primary-fixed: var(--on-primary-fixed);
  --color-secondary-fixed: var(--secondary-fixed);
  --color-surface-container-high: var(--surface-container-high);
  --color-secondary-fixed-dim: var(--secondary-fixed-dim);
  --color-secondary: var(--secondary);
  --color-on-background: var(--on-background);
  --color-surface-container-lowest: var(--surface-container-lowest);
  --color-surface-container: var(--surface-container);
  --color-tertiary-container: var(--tertiary-container);
  --color-on-primary: var(--on-primary);
  --color-error: var(--error);
  --color-surface-variant: var(--surface-variant);
  --color-tertiary-fixed-dim: var(--tertiary-fixed-dim);
  --color-on-primary-fixed-variant: var(--on-primary-fixed-variant);
  --color-error-dim: var(--error-dim);
  --color-surface-container-highest: var(--surface-container-highest);
  --color-primary-dim: var(--primary-dim);
  --color-on-error-container: var(--on-error-container);
  --color-on-tertiary-fixed-variant: var(--on-tertiary-fixed-variant);
  --color-on-tertiary-fixed: var(--on-tertiary-fixed);
  --color-on-secondary-fixed: var(--on-secondary-fixed);
  --color-inverse-primary: var(--inverse-primary);
  --color-tertiary: var(--tertiary);
  --color-on-tertiary-container: var(--on-tertiary-container);
  --color-inverse-surface: var(--inverse-surface);
  --color-on-secondary-fixed-variant: var(--on-secondary-fixed-variant);
  --color-secondary-dim: var(--secondary-dim);
  --color-tertiary-fixed: var(--tertiary-fixed);
  --color-background: var(--background);
  --color-on-secondary-container: var(--on-secondary-container);
  --color-surface: var(--surface);
  --color-on-surface-variant: var(--on-surface-variant);
  --color-on-tertiary: var(--on-tertiary);
  --color-surface-bright: var(--surface-bright);
  --color-primary-fixed-dim: var(--primary-fixed-dim);
  --color-primary: var(--primary);
  --color-outline-variant: var(--outline-variant);

  --font-headline: "Space Grotesk", sans-serif;
  --font-body: "Inter", sans-serif;
  --font-label: "Manrope", sans-serif;

  --radius: 0.125rem;
  --radius-lg: 0.25rem;
  --radius-xl: 0.5rem;
  --radius-full: 0.75rem;
}


:root {
  line-height: 1.5;
  font-weight: 400;
  font-family: var(--font-body);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: var(--color-surface-container);
}
::-webkit-scrollbar-thumb {
  background-color: var(--color-outline-variant);
  border-radius: var(--radius-full);
}
::-webkit-scrollbar-track {
  background-color: var(--color-surface-container-lowest);
}

.grain-texture {
  background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuCM9xU6Ykgphps4wON9gJkyZsKmd-GU2qsMU0SroBy77ro7SVKPC59yOdimMwMOSdwUkeuD41_y5OV3fOsi62kinJ0FbbUzyHH7Zl7dAJi_CV5qwn_7Cu6wwSPyl5q018_NVMuChexQGinUigkWnAyjcQ52nmUMbVn8MCRWiXf-IASCACEn0iFUzN2VlDUyL_hijwD_8VGhOJTWzTNh2JOcI2LSWJx2DQ6SyfiybhtO4HT6HWudX41rjIt5199O3dljWeVI19mFzSc0");
  opacity: 0.05;
}

.editorial-gradient {
  background: radial-gradient(circle at top right, rgba(204, 151, 255, 0.15), transparent 40%), 
              radial-gradient(circle at bottom left, rgba(58, 223, 250, 0.1), transparent 40%);
}
