@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');

@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));


:root {
  line-height: 1.5;
  font-weight: 400;
  font-family: "Rubik", sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html{
   scroll-behavior: smooth;
}
::-webkit-scrollbar{
  background-color: #111820;
}
::-webkit-scrollbar-thumb{
  background-color: var(--color-200);
}
::-webkit-scrollbar-track{
  background-color: var(--color-700);
}
:root {
  --color-50:  #DDE6EC;
  --color-100: #C6D4DF;
  --color-200: #A7BBCF;
  --color-300: #86A2BF;
  --color-400: #6D8EAF;
  --color-500: #577BA0; 
  --color-600: #4C6E8E;
  --color-700: #405D72; 
  --color-800: #2E4252;
  --color-900: #1F2C38;
  --color-950: #111820;
}
:root {
  --color-r-50:  #FFF7ED;
  --color-r-100: #FFEDD5;
  --color-r-200: #FED7AA;
  --color-r-300: #FDBA74;
  --color-r-400: #FB923C;
  --color-r-500: #F97316; /* Turuncu ana */
  --color-r-600: #EC4899; /* Pembe accent */
  --color-r-700: #BE185D;
  --color-r-800: #9D174D;
  --color-r-900: #831843;
  --color-r-950: #500724;
}
.a-title{
    font-family: "Jersey 10", sans-serif;

}
.animation-navbar {
  animation: navbar 0.3s ease-out forwards;
}

@keyframes navbar {
  0% {
    transform: translateY(-30px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.animation-about{
  animation: about 0.7s ease-in-out forwards;
}

@keyframes about {
  0% {
    transform: translateY(-30px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
.animation-social{
  animation: social 0.3s ease-in forwards;
}

@keyframes social {
  0% {
    transform: translateX(-130px);
    opacity: 0;
  }

  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
